---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://geminiprochat.com" class="gpt-title">谷歌Gemini Pro</a>
    <a href="https://geminiprochat.com" class="gpt-subtitle">Chat</a>
  </div>
  <p mt-1 op-60>
    Based on
    <a href="http://114.132.234.36/">关注kook.tk</a>
    <a href="https://github.com/babaohuang/GeminiProChat" class="font-bold">开源与babaohuang大佬</a>
  </p>
</header>
